body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: black;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  line-height: 1.5 !important;
}
body > div:first-of-type {
  background: black;
  height: 4em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
body > div:first-of-type div:last-of-type a {
  padding-left: 2em;
}
body > div:first-of-type div:last-of-type a:hover {
  color: #52de97;
}
body > div:first-of-type div a {
  text-decoration: none;
  color: white;
}
body > div:last-of-type {
  background: gray;
  height: 8em;
}
body > div:nth-child(2) {
  height: 12em;
  background: lightgray;
}
body > div:nth-child(3) {
  height: calc(100% - 24em);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  background: gray;
  height: 70%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-radius: 8px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.card div:first-of-type {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.card div:last-of-type {
  height: 20%;
  padding: 1em;
  background: white;
}
h3 {
  font-weight: 700;
  font-size: 2.5vh;
}
.card:first-of-type {
  background: #00faac;
}
.card:nth-child(2) {
  background: #421b9b;
}
.card:nth-child(3) {
  background: #ff1e56;
}
.card:nth-child(4) {
  background: #ffe75e;
}
.card:hover {
  transform: scale(1.1);
}
h1 {
  font-weight: 700;
  font-size: 3vh;
}
body > div:nth-child(3) h2 {
  width: 100%;
}
h2 {
  font-weight: 700;
  font-size: 2.5vh;
}
