/* light theme */
:root {
  --theme-color: white;
  --link-color: #3e64ff;
  --nav-text-color: #263646;
  --normal-text-color: #263646;
  --card-background-color: white;
  --theme-background: rgb(249, 249, 249);
}
/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #060708;
    --link-color: #3e64ff;
    --nav-text-color: white;
    --normal-text-color: white;
    --card-background-color: #060708;
    --theme-background: #323232;
  }
}

/* lay-out */
body {
  font-family: 'Roboto', Verdana, sans-serif;
  color: #263646;
  color: var(--normal-text-color);
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  line-height: 1.5 !important;
}
body > * {
  padding: 0 1em;
}
header {
  background: white;
  background: var(--theme-color);
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div:last-of-type a {
  padding-left: 2em;
}
header div a {
  text-decoration: none;
  color: #263646;
  color: var(--nav-text-color);
}
header,
footer {
  font-size: 16px;
}
footer {
  background: white;
  background: var(--theme-color);
  color: #263646;
  color: var(--nav-text-color);
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main {
  background: rgb(249, 249, 249);
  background: var(--theme-background);
  padding: 1em 3em;
}
main > section {
  padding: 1em 0;
}
section > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-wrapper,
header,
footer {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
article > * {
  margin-top: 1em;
}
article > h2 {
  margin-top: 0;
}
/* headers + text */
h1,
h2,
h3,
header a,
b,
h4 {
  font-weight: 700;
}
i {
  font-style: italic;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3,
h4,
h5 {
  font-size: 1.1em;
}
a {
  color: #3e64ff;
  color: var(--link-color);
}
/* utility */
img {
  max-width: 100%;
}
.show-desktop {
  display: none;
}
/* cards */
.card-wrapper {
  background: white;
  background: var(--card-background-color);
  border-radius: 6px;
  overflow: hidden;
  height: 230px;
  margin: 1em 0;
  transition: all 0.2s ease-in-out;
  padding-bottom: 0.5em;
}
.card-wrapper {
  overflow: hidden;
  height: 75%;
}
.card-info {
  height: 25%;
  padding: 0.4em;
}
#weekly-nerd a {
  text-decoration: none;
  color: black;
  color: var(--normal-text-color);
  display: inline-block;
}
.card-wrapper:hover {
  transform: scale(0.9);
}
/* desktop + tablets */
@media (min-width: 750px) {
  body {
    min-width: 501px;
  }
  main {
    padding: 1em 8em;
  }
  .card-wrapper {
    width: 19em;
    height: 350px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3,
  p,
  a {
    font-size: 1.5em;
  }
  h4,
  h5 {
    font-size: 1.1em;
  }
  header a,
  footer p,
  footer a {
    font-size: 16px;
  }
  .show-desktop {
    display: inline;
  }
}
/* img ratio's */
.fixed-ratio {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  background: grey;
}

.fixed-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: inherit;
}
